.container-fluid{
  margin: 0;
  padding: 0;
}

/*logo*/

#logo-image{
  width: 8%;
  margin-right: 1%;
  margin-left: 0.5%;
}

.navbar-brand{
  margin-right: 20%;
}



/*end*/

.just-padding {
    padding: 15px;
  }
  
  .list-group.list-group-root {
    padding: 0;
    overflow: hidden;
  }
  
  .list-group.list-group-root .list-group {
    margin-bottom: 0;
  }
  
  .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }
  
  .list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
  }
  
  .list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
  }
  
  .list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
  }
  
  .list-group-item .glyphicon {
    margin-right: 5px;
  }

  .section{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .section img{
    display: flex;
    width: 65%;
  }

  #section-tags{
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  #section-tags a{
    color: black;
    cursor: pointer;
    font-size: 6rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
    margin-left: 35%;
  }

  #section-tags img{
    height: 70%;
    width: 30%;
  }


  @media screen and (max-width: 1024px) {

    .section .img-fluid{
      width: 100%;
    }
  
    #section-tags{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    #section-tags a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: black;
      cursor: pointer;
      font-size: 2rem;
      margin-top: 1rem;
      margin-left: 0;
      text-decoration: underline;
      width: 100%;
    }

    .section h1{
      font-size: 3rem;
    }

    #section-tags img{
      height: 70%;
      width: 30%;
    }
  
  
  
  }


